img {
    height: 300px;
    width: 500px;
}

body {
    background-color: black;
}

p {
    color: pink;
}

h3 {
    color: aquamarine;
}

#name {
    color: pink;
    font-family: 'dancing script', 'sans-serif';
    text-align:center;
}

.below-name {
    color: cyan;
    text-align: center;
}

#resume {
    color: cyan;
    cursor:pointer;
}

#portfolio {
    color: cyan;
    cursor: pointer;
}

.collapse {
    display: none;
}

.collapse2 {
    display: none;
}

.div-for-photo {
    text-align: center;
    border: solid aquamarine;
    padding: 20px;
}

#open-button {
    color: green;
    margin: 10px 0;
    position: relative;
}

 #inside {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    width: 500px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    background-color: aquamarine;
    margin: auto;
    border: 10px solid white;
    filter: drop-shadow(40px 40px 40px pink);
}

#inside-modal-bio {
    text-align: center;
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
}

#close {
    color: white;
    width: 80%;
    position: relative;
    z-index: 300;

}

#close-button {
    float: left;
    color: black;
    font-size: 15px;
    position: absolute;
    padding: 10px;
    width: 45px;
    border: 1px solid grey;
    text-align: center;
    margin: 5px 5px 5px 5px;
    box-shadow: 5px 5px grey;
    cursor:pointer;
}

.column-buttons {
    text-align: center;
}

.hover-buttons {
    text-align: center;
}


#hover-linkedin {
    color: black;
    background-color: lightpink;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
}

#hover-github {
    color: black;
    background-color: lightpink;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
}

@media (max-width: 500px) {


}
