

#name {
    color: pink;
    font-family: 'dancing script', 'sans-serif';
    text-align:center;
}

.below-name {
    color: cyan;
    text-align: center;
}

.collapse {
    display: none;
}

.collapse2 {
    display: none;
}

img {
    height: 300px;
    width: 500px;
}

.div-for-photo {
    text-align: center;
}

h3 {
    color: aquamarine;
}

.column-buttons {
    text-align: center;
}

.hover-buttons {
    text-align: center;
}
