img {
    height: 40vh;
    width: 60vh;
    max-width: 100%;
    max-height: 100%;
}

body {
    background-color: black;
}

p {
    color: pink;
    text-align: center;
}

h3 {
    color: aquamarine;
    font-family: 'quicksand', 'sans-serif';
    text-align: center;
}

#name {
    color: pink;
    font-family: 'dancing script', 'sans-serif';
    text-align:center;
}

.below-name {
    color: cyan;
    text-align: center;
    font-family: 'quicksand', 'sans-serif';
}

.homepage {
    font-family: 'dancing script', 'sans-serif';
    font-size: 30px;
    cursor: pointer;
    color: pink;
}

/* ----------Accordion----------- */
#resume {
    text-align: center;
    color: cyan;
    cursor: pointer;
    font-family: 'quicksand', 'sans-serif';
}

#portfolio {
    text-align: center;
    color: cyan;
    cursor: pointer;
    font-family: 'quicksand', 'sans-serif';
}

.paintings {
    display: inline-block;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}


#boof {
    margin: auto;
    height: 40vh;
    width: 35vh;
}


#toucan {
    margin: auto;
    height: 40vh;
    width: 40vh;
}

#hummingbird {
    margin: auto;
    height: 40vh;
    width: 40vh;

}

#contact {
    text-align: center;
    color: cyan;
    cursor: pointer;
    font-family: 'quicksand', 'sans-serif';
}

.collapse {
    display: none;
}

.collapse2 {
    display: none;
}

.collapse3 {
    display: none;
}
/* -------End of accordion------ */

.div-for-photo {
    text-align: center;
    border: solid aquamarine;
    padding: 20px;
    border-radius: 50px;
    border-style: dotted;
    border-width: thick;
}

/* --------Modal--------- */

.div-for-button {
    text-align: center;
}

#open-button {
    color: black;
    margin: 10px 0;
    position: relative;
    font-family: 'quicksand', 'sans-serif';
    cursor: pointer;
    background-color: aquamarine;
    border-radius: 20px;
}

 #inside {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    width: 500px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    background-color: aquamarine;
    margin: auto;
    border: 5px solid white;
    filter: drop-shadow(50px 50px 70px pink);
}

#inside-modal-bio {
    text-align: center;
    color: black;
    font-family: 'quicksand', 'sans-serif';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
    margin-top: 20px;
}

#modal-pic {
   width: 40vh;
   height: 27vh;
   display: block;
   margin-top: 70px;
   margin-left:auto;
   margin-right:auto;
   outline: dotted;
   margin-bottom: 20px;
}

#close {
    width: 80%;
    position: relative;
    z-index: 300;
}

#close-button {
    float: left;
    color: black;
    font-size: 15px;
    position: absolute;
    padding: 10px;
    width: 45px;
    border: 1px solid grey;
    text-align: center;
    margin: 5px 5px 5px 5px;
    box-shadow: 5px 5px grey;
    cursor: pointer;
}
/* -------------------------- */


/* -----Mouseover/out event creating hover over buttons---- */
.hover-buttons {
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;

}

#hover-linkedin {
    color: black;
    background-color: lightpink;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    font-family: 'quicksand', 'sans-serif';
}

#hover-github {
    color: black;
    background-color: lightpink;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    font-family: 'quicksand', 'sans-serif';
}
